
<!DOCTYPE html>
<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
  
</head> 
<body>
  <div id="map" style="width: 800px; height: 600px;"></div>

  <script type="text/javascript">
    let map;
    var options = { 
      center: {
                "lat": 39.803261,
                "lng": -105.090408
            },
      zoom: 3,
    }

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), options);
    //Array loop of markers. Makes a marker for each building  
    var markers = [];
    <% Building.all.each do |building|%>
            var current_marker = {
           coords:{lat: <%= building.address.lat%>, lng: <%= building.address.lng%>},
           content:'<ul><li>Location of the Building: <%= building.address_of_the_building%>, <%= building.address.city%></li><li>Client Name: <%= building.customer.company_contact_full_name%></li><li>Number of Batteries: <%= building.batteries.count%></li><li>Number of Columns: <%= Column.where(battery_id: building.batteries.ids).count%></li><li>Number of Elevators: <%= Column.find_by(battery_id: building.batteries.ids).elevators.count%></li><li>Technical Contact: <%= building.full_name_of_the_technical_contact_for_the_building%></li></ul>'
         }
         markers.push(current_marker);
    <% end %>
      //Loops through markers
      for(var i = 0;i < markers.length;i++){
        addMarker(markers[i]);
      }

      function addMarker(props){
          var marker = new google.maps.Marker({
          position:props.coords,
          map
        })
        //Check for custom icon
        if(props.iconImage){
          marker.setIcon(props.iconImage);
        }
        //Checks for content window
        if(props.content){
          var infoWindow =  new google.maps.InfoWindow({
          content:props.content
          })
          marker.addListener('click', function(){
          infoWindow.open(map, marker);
          })
        }
      }
    }
    
  </script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
      <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API']%>&callback=initMap&libraries=&v=weekly"
      async
    ></script>
</body>
</html>